.container-fluid {
  padding: 3% 15%;
}
.btn-z{
  position: relative;
  z-index: 100;
}

.tinDog-img {
  transform: rotate(30deg);
  height: 50%;
  position: relative;
  
}
.buttons {
  padding-top: 0em;
}
.nav-links {
  display: flex;
  justify-content: right;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  margin-left: 10px;
}
#content {
  padding-top: 4em;
  margin-top: 2em;
 
}
#title {
  height: 100vh;
  overflow: hidden;
}
#navbarNav {
  /* position: relative;
    left:85% ; */
  text-align: right;
  width: 50%;
  /* display: flex; */
  justify-content: right;
}
.feature {
  text-align: center;
  padding-top: 6em;
}
#features {
  padding-bottom: 50px;
  padding-top: 100px;
  
}
.fas {
  color: #ef8172;
  font-size: 2em;
  padding-bottom: 0.5em;
  transition: 1.5s;
}
.fas:hover {
  color: #ff4c68;
  transform: scale(1.5);
}
.press-img {
  width: 15em;
  margin-left: 1em;
  margin-bottom: 100px;
}
#press {
  text-align: center;
  margin: auto;
  padding: 200px 0px 100px 0px !important ;
}

#testimonials {
  text-align: center;
  padding-top: 50px;
  padding-bottom:50px;
  margin-bottom: 150px;
  margin-top:150px;
  
  
}
#testimonials img {
  border-radius: 50%;
  width: 10%;
}
#testimonials h2 {
  font-size: 3em;
  }

  @media (max-width:1000px){

    #content{
      text-align: center;
      padding-top:0px;
    }
    .tinDog-img{
      transform: rotate(40deg);
      padding-top: 10px;
      height: 40%;

    }
    .btn-z{
margin-top: 10px;    }
    .intro{

  
      padding-bottom: 10px;
      padding-top: 10px;
    }
    
  }
